= form_for @tutor do |f|
  - if @tutor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tutor.errors.count, "error")} prohibited this tutor from being saved:"
      %ul
        - @tutor.errors.full_messages.each do |msg|
          %li= msg
  #new-tutor-wrapper
    .field
      = f.label :price_per_hour
      = f.text_field :price_per_hour
    .field
      = f.label :about_me
      = f.text_field :about_me
    .field
      = f.label :qualification
      = f.text_field :qualification
    .field
      = f.label :availability
      = f.text_field :availability
    .field
      = f.label :experience
      = f.text_field :experience
    .field
      = f.label :tutoring_type
      = f.text_field :tutoring_type
    .field
      = f.label :subject
      = f.text_field :subject
  .new-tutor-submit
    = f.submit 'Save', :class => "new-tutor-button"

    
