= form_for @tutor do |f|
  - if @tutor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tutor.errors.count, "error")} prohibited this tutor from being saved:"
      %ul
        - @tutor.errors.full_messages.each do |msg|
          %li= msg
  #new-tutor-wrapper
    .field
      = f.label :price_per_hour
      = f.text_field :price_per_hour
    .field
      = f.label :tutoring_type
      = f.text_field :tutoring_type
    .field
      = f.label :subject
      = f.text_field :subject
    .field
      = f.label :subject_keyword
      = f.text_field :subject_keyword
    .field
      = f.label :experience_in_years
      = f.text_field :experience_in_years
    .field
      = f.label :subject_description
      = f.text_area :subject_description
  .new-tutor-submit
    = f.submit 'Save', :class => "new-tutor-button"

    
