#google-map-wrapper
  .search-filter-box
    .search-filter-close 
      = image_tag "arrow-up.png", width: 18
  .search-filter-header 
    Apply search filter:
    .search-filter-open
      Filter
      = image_tag "arrow-down.png", width: 15

  #map

- content_for :google_map do
  :javascript
    $(document).ready(function(){
      var tutor = #{@markers.to_json};   // pass ruby variable to javascript
      gmap_show(tutor);                  // init show map for company card (only print marker)
    });

#tutor-list
  %ul
    - @tutors.each do |tutor|
      = link_to tutor_path(tutor) do
        %li
          = image_tag tutor.avatar_url(:avatar)
          = tutor.name  
          = tutor.surname
          = tutor.price_per_hour
          = tutor.subject
          = tutor.tutoring_type
          = tutor.availability

