%p#notice= notice

%p
  %b Price:
  = @tutor.price_per_hour
%p
  %b Tutoring type:
  = @tutor.tutoring_type
%p
  %b Subject:
  = @tutor.subject

= link_to 'Edit', edit_tutor_path(@tutor)
\|
= link_to 'Back', tutors_path
