<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %> 
  <div id="user-form-wrapper">
    
    <div class="validation-errors" >
      <div id="error_explanation">
        <%= devise_error_messages! %>
      </div>
    </div>

    <div id="user-form-fields">
      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :first_name, "Name:" %>
        </div>

        <%= f.text_field :first_name, :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :last_name, "Surname:" %>
        </div>

        <%= f.text_field :last_name, :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :postcode, "Postcode:" %>
        </div>

        <%= f.text_field :postcode, :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :street, "Street:" %>
        </div>

        <%= f.text_field :street, :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :town, "Town:" %>
        </div>

        <%= f.text_field :town, :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :email, "Your email:" %>
        </div>

          <%= f.email_field :email, autofocus: false, :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :password, "Password:" %>
        </div>

          <%= f.password_field :password, autocomplete: "off", :class => "user-field" %>
      </div>

      <div class="user-field-wrapper">
        <div class="user-label">
          <%= f.label :password_confirmation, "Password confirmation:" %>
        </div>

          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "user-field" %>
      </div>

      <div class="user-cancel-button">
        <%= render "users/shared/links" %>
        <%= link_to "Cancel", root_url %>
      </div>
    </div>
  </div>

  <div class="user-sign-wrapper">
    <%= f.submit "Sign up", :class => "user-submit-button" %>
  </div>
<% end %>